// Variables
:root
    --light-white #FFF
    --light-black #000
    --light-skyblue #ECF8F8
    --light-blue #0095DC
    --light-beige #F0E5BD
    --light-yellow #FFCE00
    --light-gray #707070

    --dark-white #FFF
    --dark-black #000
    --dark-blue #0095DC
    --dark-deepblue-light #1B4169
    --dark-deepblue #193450
    --dark-deepblue-dark #12263B
    --dark-midnightblue #08192B

a
    opacity 1
    transition: all 0.2s ease-out
    &:hover
        opacity 0.7
        transition: all 0.2s ease-out
    
